<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/png" href = "icon.png">
    <title>Smart Office</title>
</head>
<body >
    <div class="dashboard">
        <div class="navbar">
            <div class="logo">
                <img src="icon.png" alt="" width="40px">
                <span class="logoname">SmartOffice</span>
            </div>
            <div class="lang-account">
            <div class="lang">
                <select name="" id="">
                    <option value="">English</option>
                    <option value="">French</option>
                </select>
            </div>
          
            <div class="account">
                <img width="25px" src="admin.png" alt="">
                <span class="name">Admin</span>
                <span class="username">@admin</span>
            </div></div>

        </div>
        <header>
            <div class="heading">
              <h5 class="date">1 Feb 2019</h5>
              <h6 class="time">9:10 AM</h6>
              <h2 class="title">Cloudy</h2>
      </div>
          <div class="weather f">
            <div>
              <strong>26°<sup>C</sup></strong>
              <p>Indoor Temp.</p>
            </div>
            <div>
              <strong>48.2%</strong>
              <p>Outdoor Humidity</p>
            </div>
            <div>
              <strong>52.99</strong>
              <p>Indoor Temp.</p>
            </div>
          </div>
        </header>
        <section>
        <!-- Category -->
          <div class="category">
            <ul>
              <li><a href="#!" class="active">Living Room</a></li>
              <li><a href="#!">Kitchen</a></li>
              <li><a href="#!">Dinning</a></li>
              <li><a href="#!">Weather</a></li>
            </ul>
          </div>
        <!-- Appliances -->
          <div class="appliances">
            
            <div class="appliance">
              <input type="checkbox" name="a" id="a">
              <label for="a">
                <i class="l"></i>
                <strong>Lamp</strong>
                <span data-o="opened" data-c="closed"></span>
                <small></small>
              </label>
            </div>
            
            <div class="appliance">
              <input type="checkbox" name="a" id="b">
              <label for="b">
                <i class="r"></i>
                <strong>Router</strong>
                <span data-o="opened" data-c="closed"></span>
                <small></small>
              </label>
            </div>
            
            <div class="appliance">
              <input type="checkbox" name="a" id="c">
              <label for="c">
                <i class="a"></i>
                <strong>Air</strong>
                <span data-o="opened" data-c="closed"></span>
                <small></small>
              </label>
            </div>
            
            <div class="appliance">
              <input type="checkbox" name="a" id="d">
              <label for="d">
                <i class="f"></i>
                <strong>Fridge</strong>
                <span data-o="opened" data-c="closed"></span>
                <small></small>
              </label>
            </div>
            
            <div class="m-player">
              <h2>Shared Devices</h2>
              <div class="player">
                <div class="disc"></div>
                <div class="artist">
                  <p>Rosetta Stoned</p>
                  <small>Tool</small>
                </div>
                <div class="controls">
                  <input type="checkbox" name="a" id="p">
                  <label for="p">
                    <div class="control"></div>
                  </label>
                </div>
              </div>
            </div>
            
          </div>
        </section>
      </div>
</body>
</html>
